{% extends 'base.html.twig' %}

{% block Content %}
    <div class="cart-table-area section-padding-100">
        <div class="profile">
            <div class="profile-image">
                <img src="{{ asset('uploads/'~user.getUserImage().filename) }}" alt="">
            </div>
            <div class="profile-user-settings">
                <h1 class="profile-user-name">{{ user.getUserName() }}</h1>
                {% if app.user %}
                    {% if app.user.id == user.getId() %}
                        <a href="{{ path('editprofile', {userid: app.user.id }) }}" class="btn profile-edit-btn amado-btn "><i class="fa fa-cog" aria-hidden="true"></i> Edit Profile</a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="profile-stats">
                <ul>
                    <li>nombre d'annonces: <span class="profile-stat-count">{{ user.getProducts()|length }}</span></li>
                    <li>membre depuis le <span class="profile-stat-count">{{ user.getCreationdate()|date("d/m/Y") }}</span></li>
                </ul>
            </div>
            <div class="profile-bio">
                <p><span class="profile-real-name">{{ user.getLastname() }} {{ user.getFirstname() }}</span> {{ user.getDescription() }}</p>
            </div>
        </div>
        <!-- End of profile section -->

        <div class="amado-pro-catagory clearfix">
            {%if user.getProducts()|length == 0%}
                <p> Cette utilisateur n'a aucune offre en ligne.</p>
            {% endif %}
            {% for product in user.getProducts() %}
                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="{{ path('productDetails', {productId: product.id }) }}">
                        <img src="{{ asset('uploads/'~product.getProductImages()[0].filename) }}" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>Price {{ product.getPrice() }}€</p>
                            <h4>{{ product.getName() }}</h4>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}