{% extends 'base.html.twig' %}

{% block Content %}

    <div class="cart-table-area section-padding-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="checkout_details_area clearfix">

                        <form  method="post" id="form-id">
                            {{form_start(form)}}
                            <div class="my-custom-class-for-errors">
                                {{ form_errors(form) }}
                            </div>
                            <div class="cart-title">
                                <h2>Créez votre compte pour accéder a nos fonctionnalités</h2>
                            </div>
                            {% if form_errors(form.password.first) != null %}
                                <div class="alert alert-danger">
                                    <strong>Danger!</strong> {{ form_errors(form.password.first) }}
                                </div>
                            {% endif %}
                            {% if form_errors(form.username) != null %}
                                <div class="alert alert-danger">
                                    <strong>Danger!</strong> {{ form_errors(form.username) }}
                                </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    {{ form_widget(form.username) }}
                                </div>
                                <div class="col-md-6 mb-3">
                                    {{ form_widget(form.imageUser) }}
                                </div>
                                <div class="col-md-6 mb-3">
                                    {{ form_widget(form.lastname) }}
                                </div>
                                <div class="col-6 mb-3">
                                    {{ form_widget(form.firstname) }}
                                </div>
                                <div class="col-6 mb-3">
                                    {{ form_widget(form.email) }}
                                </div>
                                <div class="col-6 mb-3">
                                    {{ form_widget(form.phone) }}
                                </div>
                                <div class="col-6 mb-3">
                                    {{ form_widget(form.password.first) }}
                                </div>
                                <div class="col-6 mb-3">
                                    {{ form_widget(form.password.second) }}
                                </div>
                                <div class="col-md-6 mb-3">
                                    {{ form_widget(form.address) }}
                                </div>
                                <div class="col-md-6 mb-3">
                                    {{ form_widget(form.city) }}
                                </div>
                                <div class="col-md-6 mb-3">
                                    {{ form_widget(form.postalcode) }}
                                </div>
                                <div class="col-12 mb-3">
                                    {{ form_widget(form.description) }}
                                </div>

                            </div>
                            {{form_rest(form)}}
                            {{ form_end(form) }}
                        </form>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="cart-summary">
                        <h5>Address</h5>
                        <div class="cart-btn mt-10">
                            <button form="form-id" type="submit" class="btn amado-btn w-100">Register</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

    <!-- ##### Main Content Wrapper End ##### -->


{% endblock %}