{% extends 'base.html.twig' %}

    {% block Content %}
        <!-- Product Catagories Area Start -->

        <div class="products-catagories-area clearfix">
            <div class="amado-pro-catagory clearfix">
                {% if products == null %}
                    <div class="col-12 col-sm-6 col-md-12 col-xl-6 sortable-item furniture" >
                        <div class="single-product-wrapper">
                            <h3 class="breadcrumb-item active">Désolé mais il n'y pas de produit pour l'instant</h3>
                            <div class="product-img"><img src="{{ asset('img/travolta.gif') }}"></div>
                        </div>
                    </div>
                {% endif %}
                {% for product in products %}
                    <!-- Single Catagory -->
                    <div class="single-products-catagory clearfix">
                        <a href="{{ path('productDetails', {productId: product.id }) }}">
                            <img src="{{ asset('uploads/'~product.getProductImages()[0].filename) }}" alt="">
                            <!-- Hover Content -->
                            <div class="hover-content">
                                <div class="line"></div>
                                <p>Prix {{ product.getPrice() }}€</p>
                                <h4>{{ product.getName() }}</h4>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>


    {% endblock %}