{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

{% block Content %}
<!-- Product Details Area Start -->
    <div class="single-product-area section-padding-100 clearfix">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mt-50">
                            <li class="breadcrumb-item"><a href="{{ path('index') }}">Acceuil</a></li>
                            <li class="breadcrumb-item"><a href="{{ path('shopcategory', {category: product.category}) }}">{{ product.getCategory()}}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ product.getName() }}</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-7">
                    <div class="single_product_thumb">
                        <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">

                                <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url({{ asset('uploads/'~product.getProductImages()[0].filename) }});">
                                </li>
                                {% if product.getProductImages()[1].filename is defined %}
                                <li data-target="#product_details_slider" data-slide-to="1" style="background-image: url({{ asset('uploads/'~product.getProductImages()[1].filename) }});">
                                </li>
                                {% endif %}
                                {% if product.getProductImages()[2].filename is defined %}
                                <li data-target="#product_details_slider" data-slide-to="2" style="background-image: url({{ asset('uploads/'~product.getProductImages()[2].filename) }});">
                                </li>
                                {% endif %}
                                {% if product.getProductImages()[3].filename is defined %}
                                <li data-target="#product_details_slider" data-slide-to="3" style="background-image: url({{ asset('uploads/'~product.getProductImages()[3].filename) }});">
                                </li>
                                {% endif %}
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <a class="gallery_img" href="{{ asset('uploads/'~product.getProductImages()[0].filename) }}">
                                        <img class="d-block w-100" src="{{ asset('uploads/'~product.getProductImages()[0].filename) }}" >
                                    </a>
                                </div>
                                {% if product.getProductImages()[1].filename is defined %}
                                    <div class="carousel-item">
                                        <a class="gallery_img" href="{{ asset('uploads/'~product.getProductImages()[1].filename) }}">
                                            <img class="d-block w-100" src="{{ asset('uploads/'~product.getProductImages()[1].filename) }}" >
                                        </a>
                                    </div>
                                {% endif %}
                                {% if product.getProductImages()[2].filename is defined %}
                                <div class="carousel-item">
                                    <a class="gallery_img" href="{{ asset('uploads/'~product.getProductImages()[2].filename) }}">
                                        <img class="d-block w-100" src="{{ asset('uploads/'~product.getProductImages()[2].filename) }}" >
                                    </a>
                                </div>
                                {% endif %}
                                {% if product.getProductImages()[3].filename is defined %}
                                <div class="carousel-item">
                                    <a class="gallery_img" href="{{ asset('uploads/'~product.getProductImages()[3].filename) }}">
                                        <img class="d-block w-100" src="{{ asset('uploads/'~product.getProductImages()[3].filename) }}">
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5">
                    <div class="single_product_desc">
                        <!-- Product Meta Data -->
                        <div class="product-meta-data">
                            <div class="line"></div>
                            <p class="product-price">{{ product.getPrice() }} €</p>
                            <h2>{{ product.getName() }}</h2>
                            <!-- Ratings & Review -->
                            <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                                <div class="ratings">
                                </div>
                                <div class="review">
                                    <a href="{{ path('profile', {id: user.id }) }}">Par {{ user.getUsername() }}</a>
                                </div>
                            </div>
                            <!-- Avaiable -->
                            <p class="avaibility"><i class="fa fa-circle"></i>{{ product.getState() }}</p>
                        </div>

                        <div class="short_overview my-5">
                            <p> {{ product.getDescription() }} </p>
                            {% if app.user %}
                                {% if app.user.id == user.getId() %}
                                    <a href="{{ path('editproduct', {productid: product.id }) }}" class="btn profile-edit-btn amado-btn "><i class="fa fa-cog" aria-hidden="true"></i> Editer l'annonce</a>
                                     <a href="{{ path('deleteproduct', {productid: product.id }) }}" class="btn profile-edit-btn amado-btn "><i class="fa fa-cog" aria-hidden="true"></i> Supprimer l'annonce</a>
                                {% endif %}
                            {% endif %}
                        </div>

                        <!-- Add to Cart Form -->
                        <div class="cart clearfix">
                            <button id="revealbutton" type="submit" name="addtocart" data-phone="{{ user.getPhone() }}" class="btn amado-btn"><i class="fa fa-phone"></i> Voir le numéro</button>
                        </div>
                    </div>
                    <div id='map_product' data-lieu="{{ user.getCity() }}"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css' type='text/css' />
    <!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
    <script src='https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js'></script>
    <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
    <script type="text/javascript" src={{ asset('js/displayInfoAndMap.js') }}></script>
{% endblock %}

