{% extends 'base.html.twig' %}

{% block Content %}
    <div class="products-catagories-area clearfix">
        <h1>Les annonces trouvées:</h1>
        <div class="amado-pro-catagory clearfix">
            {{form_start(formSearch)}}
            {{ form_end(formSearch) }}
            {% if result is defined %}
                {% if result != null %}
                    {% for product in result %}
                        <!-- Single Catagory -->
                        <div class="single-products-catagory clearfix">
                            <a href="{{ path('productDetails', {productId: product.id }) }}">
                                <img src="{{ asset('uploads/'~product.getProductImages()[0].filename) }}" alt="">
                                <!-- Hover Content -->
                                <div class="hover-content">
                                    <div class="line"></div>
                                    <p>Prix {{ product.getPrice() }}€</p>
                                    <h4>{{ product.getName() }}</h4>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-12 col-sm-6 col-md-12 col-xl-6 sortable-item furniture" >
                        <div class="single-product-wrapper">
                            <h3 class="breadcrumb-item active">Désolé aucun produit ne correspond à votre recherche...</h3>
                            <div class="product-img"><img src="{{ asset('img/travolta.gif') }}"></div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
