{% extends 'base.html.twig' %}

{% block LeftBar %}
    {% block Content %}
        {% if user != null %}
            <div align="center"><h1>Merci {{ user.getFirstname() }} de vous être abonné à notre NewsLettre</h1></div>
            <h2><u>Voici nos derniers produits:</u></h2>
            <div class="main-content-wrapper d-flex clearfix">
                <div class="products-catagories-area clearfix">
                    <div class="amado-pro-catagory clearfix">
                        {% for product in products %}
                            <!-- Single Catagory -->
                            <div class="single-products-catagory clearfix">
                                <a href="{{ path('productDetails', {productId: product.id }) }}">
                                    <img src="{{ asset('uploads/'~product.getProductImages()[0].filename) }}" alt="">
                                    <!-- Hover Content -->
                                    <div class="hover-content">
                                        <div class="line"></div>
                                        <p>Price {{ product.getPrice() }}€</p>
                                        <h4>{{ product.getName() }}</h4>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <br><br>
            <h2><u>Pour plus d'information vous pouvez:</u></h2>
            <div class="amado-btn-group mt-30 mb-100">
                <a type="button" class="btn amado-btn mb-15" href="{{ path('index') }}">Acceuil</a>
                <a type="button" class="btn amado-btn mb-15" href="{{ path('shop') }}">Magasin</a>
                <a type="button" class="btn amado-btn mb-15" href="{{ path('editprofile', {userid: user.id }) }}">Editer profil</a></p>
                <a type="button" class="btn amado-btn mb-15" href="{{ path('profile', {id: user.id }) }}">Profil</a></p>
                <a type="button" class="btn amado-btn mb-15" href="{{ path('publishproduct') }}">Déposer votre annonce</a></p><br>
            </div>
        {% else %}
            <div align="center"><h1>Merci de vous être abonné à notre NewsLettre</h1></div>
            <h2><u>Voici nos derniers produits:</u></h2>
            <div class="main-content-wrapper d-flex clearfix">
                <div class="products-catagories-area clearfix">
                    <div class="amado-pro-catagory clearfix">
                        {% for product in products %}
                            <!-- Single Catagory -->
                            <div class="single-products-catagory clearfix">
                                <a href="{{ path('productDetails', {productId: product.id }) }}">
                                    <img src="{{ asset('uploads/'~product.getProductImages()[0].filename) }}" alt="">
                                    <!-- Hover Content -->
                                    <div class="hover-content">
                                        <div class="line"></div>
                                        <p>Price {{ product.getPrice() }}€</p>
                                        <h4>{{ product.getName() }}</h4>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <br><br>
            <h2><u>Pour plus d'information vous pouvez:</u></h2>
            <div class="amado-btn-group mt-30 mb-100">
                <a type="button" class="btn amado-btn mb-15" href="{{ path('index') }}">Acceuil</a>
                <a type="button" class="btn amado-btn mb-15" href="{{ path('shop') }}">Magasin</a>
                <a type="button" class="btn amado-btn mb-15" href="{{ path('app_login') }}">Se Connecter</a>
                <a type="button" class="btn amado-btn mb-15" href="{{ path('register') }}">S'enregister</a>
            </div>
        {% endif %}

    {% endblock %}
{% endblock %}

{% block Newsletter %}
{% endblock %}
