{% extends 'base.html.twig' %}

{% block LeftBar %}
    {% block Content %}
        {% if app.user %}
            <div align="center"><h1>Merci {{ app.user.getUsername() }} de vous être abonné à notre NewsLettre</h1></div>
        {% else %}
            <div align="center"><h1>Merci de vous être abonné à notre NewsLettre</h1></div>
        {% endif %}
            <h2 class="breadcrumb-item active">Voici nos derniers produits</h2>
            <div class="main-content-wrapper d-flex clearfix">
                <div class="products-catagories-area clearfix">
                    <div class="amado-pro-catagory clearfix">
                        {% for product in products %}
                            <!-- Single Catagory -->
                            <div class="single-products-catagory clearfix">
                                <a href="http://localhost:8000/product/{{ product.id }) }}">
                                    <!-- Hover Content -->
                                    <div class="hover-content">
                                        <div class="line"></div>
                                        <p>Price {{ product.getPrice() }}€</p>
                                        <h4>{{ product.getName() }}</h4>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>



    {% endblock %}
{% endblock %}

{% block Footer %}
    <footer class="footer_area clearfix">
        <div class="container">
            <div class="row align-items-center">
                <!-- Single Widget Area -->
                <div class="col-10 col-lg-3">
                    <div class="single_widget_area">
                        <!-- Logo -->
                        <div class="footer-logo mr-50">
                        </div>
                        <!-- Copywrite Text -->
                        <p class="copywrite">Copyright ©2019 All rights reserved.</br>
                            Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by Tomper, Natmad and Louis
                        </p>

                    </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-lg-8">
                    <div class="single_widget_area">
                        <!-- Footer Menu -->
                        <div class="footer_menu">
                            <nav class="navbar navbar-expand-lg justify-content-end">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#footerNavContent" aria-controls="footerNavContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                                <div class="collapse navbar-collapse" id="footerNavContent">
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="http://localhost:8000/">Acceuil</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="http://localhost:8000/shop">Magasin</a>
                                        </li>
                                        {% if app.user %}
                                            <li class="nav-item">
                                                <a class="nav-link" href="http://localhost:8000/editprofile/{{  app.user.id }) }}">Editer profil</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="http://localhost:8000/publishproduct">Déposer votre annonce</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="http://localhost:8000/profile/{{ app.user.id }) }}">Profil</a>
                                            </li>

                                        {% else %}
                                            <li class="nav-item">
                                                <a class="nav-link" href="http://localhost:8000/register">S'enregister</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="http://localhost:8000/login">Se Connecter</a>
                                            </li>
                                        {% endif %}

                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block Newsletter %}
{% endblock %}
